*{
    margin: 0;
    padding: 0;
}
.top-menu{
    background-color: #ff422f2e;
    height: 550px;
}
.header-taitel{
    font-size: 71px;
}
.shop-card{
    border: none;
}
.servis{
    height: 176px;
}
.findd-prfect{
    background-color: #fff !important;
border-radius: 10px;
}
.crad-img{
    background-color: gray;
}
@media (min-width: 576px) { 
    img{
        margin: auto;
    }
    .findd-prfect{
        width: 446px;
    }
    .nav-logo{
        float: left;
    width: 412px;
    }
 }
 @media (min-width: 768px) { 
    .findd-prfect{
        width: 549px;
    }
  }
@media (min-width: 992px) { 
    .findd-prfect{
        width: 399px;
   }